<h2>res:  <%= @sucess.to_s.force_encoding('utf-8') %></h2> <br>
<h2>res:  <%= @real_waybill %></h2> <br>
<h2>res:  <%= @markDest %></h2> <br>
<h2>res:  <%= @sortingCode %></h2> <br>
<h2>res:  <%= @sortingSite %></h2> <br>
<h2>error:  <%= @e %> </h2><br>
<h2>hash:<%= @locals %></h2>